
.panda-slide{
    background-color: #FCEAE8;
}

.panda-card-footer {
    background-color: white;
    border: 0;
}

.catagories img {
    width: 100px;
}
.tex-highlight {
    color: #FF458F;
}
.button-highlight {
    background-color: #FF458F;
    padding: 8px 20px;
    border-radius: 5px;
}
.bg-color {
    background-color: #FCEAE8;
}

.footer-heading {
    font-size: 1.75rem;
   
}
.footer-title {
    color: gray;
    font-size: 1rem;
}
.footer-input {
    
    padding:8px 25px;
    border-radius: 5px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    margin-bottom: 8px;
   
}
.button-highlight-footer {
    background-color: #FF458F;
    border-radius: 25px;
    color: white;
    padding: 8px 20px;

}
.space {
    margin-top: 10px;
}
.for-space {
    padding-bottom:30px;
}